@import "tailwindcss";

:root {
  --primary-color: #fbfbfb; 
  --secondary-color: #222222; 
  --accent-color-1: #ff4500; 
  --accent-color-2: #c9ad03; 
  --accent-color-3: #d4e3ea; 
  --accent-color-4: #fdc2c8; 
  --accent-color-5: #fcaa18; 
  --text-color: #330e00;
}

